language: perl
perl:
  - "5.20"
  - "5.14"
  - "5.10"
before_install: git submodule update --init
install: "make test-deps"
script: "make test"
notifications:
  email:
    - wakaba@suikawiki.org
  irc:
    channels:
      - "irc.suikawiki.org#mechanize"
    use_notice: true
env:
  global:
    secure: "ONYa2x74cChaMTI8mlDuBQuiWWNuPK39+Vz/Yv5fze9fr/lVwVj4K03aSMJ8s6JwmKJVK1J1iHoKRMziUJceIDK9/JdJ6nDi/WUjPcisgkUdfFiAZI6f+Ox+e5WnKkh4tqzwYMwbmspVGDiU/UcATxmewLxDAKh5KSbHvC3/XFY="
after_success:
  - curl https://gist.githubusercontent.com/wakaba/9970857/raw/travis-merger.pl | perl
